.formHeader {
    font-weight: 700;
    color: white;
    font-size: 48px;
    line-height: 120%;
    text-align: left;
    margin-bottom: 12px;
}

.description {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: white;
    margin-bottom: 48px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.formWrapper {
    max-width: 100%;
    width: 100%;
    padding: 24px;
}

.form {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signUpTitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    color: white;
}

.signUpWrapper {
    margin-top: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and  (max-width: 920px) {
    .formHeader {
        font-size: 1.5rem;
    }

    .input {
        padding: 4px 0;
    }

    .formWrapper {
        padding: 16px;
    }

}
