:root {
    --primary-color-dark: #f0a347;
    --primary-color: black;
    --text-color-light: white;
    --text-color-dark: black;
    --light-bg-color: #F0EEEE;
    --text-color-lighter: #1C222A;
    --secondary-color: #fafafa;
    --secondary-color-light: #ffffff;
    --color-danger: #f8413e;
    --screen-size: 100vh;
    --border-radius: 8px;
    --menu-z-index: 99;
    --navbar-height: 76px;
    --color-gray-1: #05060f;
    font-size: 16px;
    white-space: pre-line;
}

