.introSectionWrapper {
  margin-top: 30px;
  margin-bottom: 86px;
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 24px;
  max-width: 100%;
  padding: 8px;
}

.descriptionFull {
  composes: description;
  max-width: 100%;
  margin-top: 32px;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  min-width: 50%;
  display: flex;
  align-items: center;
  aspect-ratio: 25/20;
}
.imageWrapper > img {
  position: absolute;
  width: 45%;
  aspect-ratio: 1/1;
  transition: 0.3s;
  border-radius: 15px;
}

.imageWrapper > img:first-child {
  top: 6%;
  left: 8%;
}
.imageWrapper > img:last-child {
  bottom: 6%;
  right: 8%;
}
.introSectionWrapper:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.introSectionWrapper .imageWrapper > img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .introSectionWrapper {
    flex-direction: column-reverse;
  }
  .imageWrapper {
    aspect-ratio: 16/9;
    margin: 0;
    width: 100%;
  }
  .imageWrapper > img {
    position: static;
    width: 50%;
    border-radius: 0;
  }
  .introSectionWrapper .imageWrapper > img:hover {
    transform: none ;
  }
}
