.wrapper {
  background: url('/static/img/background/5.png') no-repeat;
  background-size: cover;
  background-position: right center;
  padding-bottom: 70px;
  min-height: calc(100vh - 70px);
  position: relative;
}
.flex {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 645px;
}
.line {
  width: 100%;
  height: 1px;
  background-color: var(--text-color-light);
  margin: 22px 0;
}

.sectionLayout {
  position: relative;
}

.gradientEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #000000 21.5%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(360deg, #000000 1.76%, rgba(0, 0, 0, 0) 11.76%);
}

.heroHeader {
  font-size: 3.75rem;
  line-height: 150%;
  font-weight: 700;
  color: var(--text-color-light);
  padding-top: 84px;
}

.founders {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-top: 8px;
  text-align: left;
  color: #ffffff;
}

.heroDescription {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 34px;
  max-width: 645px;
  width: 100%;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.header {
  padding-bottom: 24px;
}
@media screen and (max-width: 1400px) {
  .wrapper {
    background-position: center;
  }
}

@media screen and (max-width: 920px) {
  .wrapper {
    background-position: center;
  }

  .heroHeader {
    font-size: 2.5rem;
    padding-top: 5rem;
  }

  .heroDescription {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .heroHeader {
    line-height: 120%;
    font-size: 32px;
  }
  .founders {
    font-size: 20px;
  }
  .flex {
    width: 80%;
  }
  .heroDescription {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .wrapper {
    background-position: center;
    padding-bottom: 5rem;
    min-height: auto;
  }
}

@media screen and (max-width: 485px) {
  .flex {
    width: 300px;
  }
  .line {
    margin: 10px 0;
  }
  .heroHeader {
    line-height: 100%;
    font-size: 24px;
  }
  .heroDescription {
    max-width: 100%;
    font-size: 10px;
  }
  .founders {
    font-size: 14px;
  }
}
