.productContainer {
    border: 0.5px solid #191919;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productImage {
    width: 100%;
    height: 346px;
}

.productTextContent {
    display: flex;
    align-items: center;
    margin: 16px 8px 34px;
}

.productName {
    font-size: 1rem;
    flex-shrink: 0;
    font-weight: 700;
    line-height: 14.65px;
    text-align: center;
}

.line {
    border-top: 1px dashed black;
    width: 100%;
    margin: 0 10px;
}

.productPrice {
    color: #888;
    flex-shrink: 0;
    font-size: 16.27px;
    font-weight: 700;
    line-height: 14.65px;
    text-align: center;
}

.buyButton {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
