.modalLayoutWrapper {
    position: fixed;
    height: var(--screen-size);
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99999;
    backdrop-filter: blur(5px);
    overflow-y: auto;
}

.drawerModal {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    bottom: 0;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 99999;
}

.contentWrapper {
    left: 0;
    top: 120px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .contentWrapper {
        top: 120px;
    }

    .drawerModal {
        width: 100%;
        left: 0;
    }
}
