.closeButton {
    margin-left: 32px;
    margin-top: 16px;
    cursor: pointer;
}

.formHeader {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 120%;
    margin-bottom: 2rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    position: relative;
}

.error {
    position: absolute;
    bottom: -28px;
    left: 0;
    color: #fff;
    background-color: #e74c3c;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
}

.formWrapper {
    margin-top: 68px;
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid white;
    border-radius: 32px;
    padding: 32px;
}

.input {
    border: none;
    border-bottom: 0.5px solid #00000066;
    background: transparent;
    padding: 8px 0;
    font-size: 18px;
    width: 100%;
}

.input::placeholder {
    color: #00000080;
}

.input:focus {
    outline: none;
}

.submitWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.submitButton {
    background: black;
    color: white;
    margin-top: 2rem;
    padding: 0.75rem 3rem;
    font-size: 1rem;
}

.dateTimePicker :global(.react-datetime-picker__wrapper) {
    padding: 8px 0;
    font-size: 18px;
    color: #00000080;
    border: none;
    border-bottom: 0.5px solid #00000066;
}


@media screen and  (max-width: 920px) {
    .formHeader {
        font-size: 1.5rem;
    }

    .input {
        padding: 4px 0;
    }

    .formWrapper {
        border-radius: 24px;
    }
}

@media screen and (max-width: 768px) {
    .formWrapper {
        max-width: calc(100% - 30px);
    }
}
