.contentWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;

}


.basketItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.countWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.productImage {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}


.actionButton {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 8px;
}

.productDetails {
    display: flex;
    flex-direction: column;
}

.productDetails h3 {
    margin: 0;
    font-size: 1.2em;
}

.productDetails p {
    margin: 5px 0;
}

.emptyBasket {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: #555;
    font-size: 1.5em;
    padding: 20px;
}
