.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.inputField:disabled {
    background: #CCCCCC;
    color: white;
}

.inputGroup {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.inputWrapper {
    position: relative;
    margin-top: 16px;
}

.contactDetails {
    margin: 18px 0;
}

.submitButton {
    width: fit-content;
    margin: 0 auto;
    background: black;
    color: white;
}

.submitButton:disabled {
    background: #C8C9CB !important;
}


.checkoutButton {
    width: 50%;
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ACFA00;
}

.checkoutButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .inputGroup {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .inputGroup {
        grid-template-columns: 1fr;
    }

    .checkoutButton {
        width: 100%;
    }
}
